---
import Logo from '../assets/raak.svg';
---

<header class="nav">
    <div class="container row">
     <div class="nav-logo one-third column">
         <a href="#" class="logo-link">
             <img src={Logo} alt="Brand logo">
         </a>
     </div>
     <nav class="one-third column">
         <ul class="center flex">
             <li><a href="#Características">Características</a></li>
             <li><a href="#Galería">Galería</a></li>
             <li><a href="#Contactos">Contactos</a></li>
             <li><a href="/docs/ficha-tecnica.pdf" target="_blank" rel="noopener noreferrer">Ficha Técnica</a></li> <!-- Now opens PDF -->
         </ul>
     </nav>
     <div class="nav-cta one-third column"></div>
    </div>
</header>

<style lang="scss">
.nav {
    padding: 15px 0;
    li {
      list-style: none;
      margin-top: 7px;
    }
    .nav-cta {
      text-align: right;
    }
    a:not(.logo-link) {
      color: #111;
      padding: 0 20px;
      text-decoration: none;
      font-weight: normal;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #007bff;
    }
    .logo-link img {
      width: 180px;
      margin-top: 10px;
    }

    @media (max-width: 700px) {
      nav {
        display: none;
      }
      .nav-cta {
        position: absolute;
        right: 20px;
      }
    }
}
</style>
